body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

header img.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header a {
    color: #00acee;
    text-decoration: none;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 1rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#activity-list,
#repo-list {
    list-style: none;
    padding: 0;
}

#activity-list li,
.repo-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.repo-item {
    display: flex;
    justify-content: space-between;
}

.repo-item a {
    text-decoration: none;
    color: #333;
}

.repo-description {
    font-style: italic;
    color: #666;
    margin-left: 1rem;
}
